In [48]:
import pandas as pd
import numpy as np

In [49]:
one = pd.read_csv('./Data/cost-of-living.csv')
two = pd.read_csv('./Data/cost-of-living_v2.csv')

In [50]:
one.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4874 entries, 0 to 4873
Data columns (total 59 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    4874 non-null   int64
 1   city          4874 non-null   object
 2   country       4874 non-null   object
 3   x1            4449 non-null   float64
 4   x2            4432 non-null   float64
 5   x3            4552 non-null   float64
 6   x4            4385 non-null   float64
 7   x5            4445 non-null   float64
 8   x6            4540 non-null   float64
 9   x7            4438 non-null   float64
 10  x8            4571 non-null   float64
 11  x9            4494 non-null   float64
 12  x10           4457 non-null   float64
 13  x11           4538 non-null   float64
 14  x12           4369 non-null   float64
 15  x13           4393 non-null   float64
 16  x14           4318 non-null   float64
 17  x15           4312 non-null   float64
 18  x16           4509 non-null   float64
 19  x17           4499 non-null   float64
 20  x18           4439 non-null   float64
 21  x19           4410 non-null   float64
 22  x20           4444 non-null   float64
 23  x21           4447 non-null   float64
 24  x22           4379 non-null   float64
 25  x23           4490 non-null   float64
 26  x24           4414 non-null   float64
 27  x25           4149 non-null   float64
 28  x26           4223 non-null   float64
 29  x27           4389 non-null   float64
 30  x28           3401 non-null   float64
 31  x29           2750 non-null   float64
 32  x30           4013 non-null   float64
 33  x31           3869 non-null   float64
 34  x32           3506 non-null   float64
 35  x33           4296 non-null   float64
 36  x34           3839 non-null   float64
 37  x35           3904 non-null   float64
 38  x36           4400 non-null   float64
 39  x37           3702 non-null   float64
 40  x38           4534 non-null   float64
 41  x39           3523 non-null   float64
 42  x40           2508 non-null   float64
 43  x41           4405 non-null   float64
 44  x42           3761 non-null   float64
 45  x43           3230 non-null   float64
 46  x44           4413 non-null   float64
 47  x45           4273 non-null   float64
 48  x46           4388 non-null   float64
 49  x47           4337 non-null   float64
 50  x48           3533 non-null   float64
 51  x49           3465 non-null   float64
 52  x50           3418 non-null   float64
 53  x51           3385 non-null   float64
 54  x52           2681 non-null   float64
 55  x53           2609 non-null   float64
 56  x54           3459 non-null   float64
 57  x55           3894 non-null   float64
 58  data_quality  4874 non-null   int64
dtypes: float64(55), int64(2), object(2)
memory usage: 2.2+ MB

In [51]:
two.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4956 entries, 0 to 4955
Data columns (total 58 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   city          4956 non-null   object
 1   country       4956 non-null   object
 2   x1            4528 non-null   float64
 3   x2            4505 non-null   float64
 4   x3            4622 non-null   float64
 5   x4            4460 non-null   float64
 6   x5            4516 non-null   float64
 7   x6            4612 non-null   float64
 8   x7            4511 non-null   float64
 9   x8            4640 non-null   float64
 10  x9            4578 non-null   float64
 11  x10           4543 non-null   float64
 12  x11           4613 non-null   float64
 13  x12           4449 non-null   float64
 14  x13           4478 non-null   float64
 15  x14           4398 non-null   float64
 16  x15           4390 non-null   float64
 17  x16           4584 non-null   float64
 18  x17           4575 non-null   float64
 19  x18           4515 non-null   float64
 20  x19           4487 non-null   float64
 21  x20           4519 non-null   float64
 22  x21           4523 non-null   float64
 23  x22           4455 non-null   float64
 24  x23           4568 non-null   float64
 25  x24           4494 non-null   float64
 26  x25           4235 non-null   float64
 27  x26           4301 non-null   float64
 28  x27           4466 non-null   float64
 29  x28           3450 non-null   float64
 30  x29           2790 non-null   float64
 31  x30           4083 non-null   float64
 32  x31           3934 non-null   float64
 33  x32           3560 non-null   float64
 34  x33           4368 non-null   float64
 35  x34           3898 non-null   float64
 36  x35           3961 non-null   float64
 37  x36           4468 non-null   float64
 38  x37           3755 non-null   float64
 39  x38           4607 non-null   float64
 40  x39           3581 non-null   float64
 41  x40           2556 non-null   float64
 42  x41           4481 non-null   float64
 43  x42           3824 non-null   float64
 44  x43           3275 non-null   float64
 45  x44           4477 non-null   float64
 46  x45           4339 non-null   float64
 47  x46           4453 non-null   float64
 48  x47           4403 non-null   float64
 49  x48           3593 non-null   float64
 50  x49           3525 non-null   float64
 51  x50           3476 non-null   float64
 52  x51           3444 non-null   float64
 53  x52           2729 non-null   float64
 54  x53           2653 non-null   float64
 55  x54           3524 non-null   float64
 56  x55           3950 non-null   float64
 57  data_quality  4956 non-null   int64
dtypes: float64(55), int64(1), object(2)
memory usage: 2.2+ MB

#### NaN 제거하기

In [52]:
one.dropna(how='any', inplace = True)
two.dropna(how='any', inplace = True)

In [53]:
one.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1264 entries, 0 to 4867
Data columns (total 59 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    1264 non-null   int64
 1   city          1264 non-null   object
 2   country       1264 non-null   object
 3   x1            1264 non-null   float64
 4   x2            1264 non-null   float64
 5   x3            1264 non-null   float64
 6   x4            1264 non-null   float64
 7   x5            1264 non-null   float64
 8   x6            1264 non-null   float64
 9   x7            1264 non-null   float64
 10  x8            1264 non-null   float64
 11  x9            1264 non-null   float64
 12  x10           1264 non-null   float64
 13  x11           1264 non-null   float64
 14  x12           1264 non-null   float64
 15  x13           1264 non-null   float64
 16  x14           1264 non-null   float64
 17  x15           1264 non-null   float64
 18  x16           1264 non-null   float64
 19  x17           1264 non-null   float64
 20  x18           1264 non-null   float64
 21  x19           1264 non-null   float64
 22  x20           1264 non-null   float64
 23  x21           1264 non-null   float64
 24  x22           1264 non-null   float64
 25  x23           1264 non-null   float64
 26  x24           1264 non-null   float64
 27  x25           1264 non-null   float64
 28  x26           1264 non-null   float64
 29  x27           1264 non-null   float64
 30  x28           1264 non-null   float64
 31  x29           1264 non-null   float64
 32  x30           1264 non-null   float64
 33  x31           1264 non-null   float64
 34  x32           1264 non-null   float64
 35  x33           1264 non-null   float64
 36  x34           1264 non-null   float64
 37  x35           1264 non-null   float64
 38  x36           1264 non-null   float64
 39  x37           1264 non-null   float64
 40  x38           1264 non-null   float64
 41  x39           1264 non-null   float64
 42  x40           1264 non-null   float64
 43  x41           1264 non-null   float64
 44  x42           1264 non-null   float64
 45  x43           1264 non-null   float64
 46  x44           1264 non-null   float64
 47  x45           1264 non-null   float64
 48  x46           1264 non-null   float64
 49  x47           1264 non-null   float64
 50  x48           1264 non-null   float64
 51  x49           1264 non-null   float64
 52  x50           1264 non-null   float64
 53  x51           1264 non-null   float64
 54  x52           1264 non-null   float64
 55  x53           1264 non-null   float64
 56  x54           1264 non-null   float64
 57  x55           1264 non-null   float64
 58  data_quality  1264 non-null   int64
dtypes: float64(55), int64(2), object(2)
memory usage: 592.5+ KB

In [54]:
two.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1278 entries, 0 to 4950
Data columns (total 58 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   city          1278 non-null   object
 1   country       1278 non-null   object
 2   x1            1278 non-null   float64
 3   x2            1278 non-null   float64
 4   x3            1278 non-null   float64
 5   x4            1278 non-null   float64
 6   x5            1278 non-null   float64
 7   x6            1278 non-null   float64
 8   x7            1278 non-null   float64
 9   x8            1278 non-null   float64
 10  x9            1278 non-null   float64
 11  x10           1278 non-null   float64
 12  x11           1278 non-null   float64
 13  x12           1278 non-null   float64
 14  x13           1278 non-null   float64
 15  x14           1278 non-null   float64
 16  x15           1278 non-null   float64
 17  x16           1278 non-null   float64
 18  x17           1278 non-null   float64
 19  x18           1278 non-null   float64
 20  x19           1278 non-null   float64
 21  x20           1278 non-null   float64
 22  x21           1278 non-null   float64
 23  x22           1278 non-null   float64
 24  x23           1278 non-null   float64
 25  x24           1278 non-null   float64
 26  x25           1278 non-null   float64
 27  x26           1278 non-null   float64
 28  x27           1278 non-null   float64
 29  x28           1278 non-null   float64
 30  x29           1278 non-null   float64
 31  x30           1278 non-null   float64
 32  x31           1278 non-null   float64
 33  x32           1278 non-null   float64
 34  x33           1278 non-null   float64
 35  x34           1278 non-null   float64
 36  x35           1278 non-null   float64
 37  x36           1278 non-null   float64
 38  x37           1278 non-null   float64
 39  x38           1278 non-null   float64
 40  x39           1278 non-null   float64
 41  x40           1278 non-null   float64
 42  x41           1278 non-null   float64
 43  x42           1278 non-null   float64
 44  x43           1278 non-null   float64
 45  x44           1278 non-null   float64
 46  x45           1278 non-null   float64
 47  x46           1278 non-null   float64
 48  x47           1278 non-null   float64
 49  x48           1278 non-null   float64
 50  x49           1278 non-null   float64
 51  x50           1278 non-null   float64
 52  x51           1278 non-null   float64
 53  x52           1278 non-null   float64
 54  x53           1278 non-null   float64
 55  x54           1278 non-null   float64
 56  x55           1278 non-null   float64
 57  data_quality  1278 non-null   int64
dtypes: float64(55), int64(1), object(2)
memory usage: 589.1+ KB

In [55]:
global_cost = pd.concat([one,two],ignore_index=True,axis=0)
del global_cost['Unnamed: 0']

### 저장하기

In [56]:
global_cost.to_csv('./Data/global_cost.csv',index=False)

In [57]:
global_cost.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2542 entries, 0 to 2541
Data columns (total 58 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   city          2542 non-null   object
 1   country       2542 non-null   object
 2   x1            2542 non-null   float64
 3   x2            2542 non-null   float64
 4   x3            2542 non-null   float64
 5   x4            2542 non-null   float64
 6   x5            2542 non-null   float64
 7   x6            2542 non-null   float64
 8   x7            2542 non-null   float64
 9   x8            2542 non-null   float64
 10  x9            2542 non-null   float64
 11  x10           2542 non-null   float64
 12  x11           2542 non-null   float64
 13  x12           2542 non-null   float64
 14  x13           2542 non-null   float64
 15  x14           2542 non-null   float64
 16  x15           2542 non-null   float64
 17  x16           2542 non-null   float64
 18  x17           2542 non-null   float64
 19  x18           2542 non-null   float64
 20  x19           2542 non-null   float64
 21  x20           2542 non-null   float64
 22  x21           2542 non-null   float64
 23  x22           2542 non-null   float64
 24  x23           2542 non-null   float64
 25  x24           2542 non-null   float64
 26  x25           2542 non-null   float64
 27  x26           2542 non-null   float64
 28  x27           2542 non-null   float64
 29  x28           2542 non-null   float64
 30  x29           2542 non-null   float64
 31  x30           2542 non-null   float64
 32  x31           2542 non-null   float64
 33  x32           2542 non-null   float64
 34  x33           2542 non-null   float64
 35  x34           2542 non-null   float64
 36  x35           2542 non-null   float64
 37  x36           2542 non-null   float64
 38  x37           2542 non-null   float64
 39  x38           2542 non-null   float64
 40  x39           2542 non-null   float64
 41  x40           2542 non-null   float64
 42  x41           2542 non-null   float64
 43  x42           2542 non-null   float64
 44  x43           2542 non-null   float64
 45  x44           2542 non-null   float64
 46  x45           2542 non-null   float64
 47  x46           2542 non-null   float64
 48  x47           2542 non-null   float64
 49  x48           2542 non-null   float64
 50  x49           2542 non-null   float64
 51  x50           2542 non-null   float64
 52  x51           2542 non-null   float64
 53  x52           2542 non-null   float64
 54  x53           2542 non-null   float64
 55  x54           2542 non-null   float64
 56  x55           2542 non-null   float64
 57  data_quality  2542 non-null   int64
dtypes: float64(55), int64(1), object(2)
memory usage: 1.1+ MB