In [17]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split , cross_validate
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression , Lasso , Ridge , ElasticNet , QuantileRegressor

In [18]:
import warnings
warnings.filterwarnings('ignore')

### 레스토랑 관련

In [19]:
df = pd.read_csv('./Data/global_cost.csv')
df.head()

,city,country,x1,x2,x3,x4,x5,x6,x7,x8,...,x47,x48,x49,x50,x51,x52,x53,x54,x55,data_quality
0,Delhi,India,4.90,22.04,4.28,1.84,3.67,1.78,0.48,0.19,...,36.26,223.87,133.38,596.16,325.82,2619.46,1068.90,586.35,7.96,1
1,Shanghai,China,5.59,40.51,5.59,1.12,4.19,3.96,0.52,0.32,...,121.19,1080.07,564.30,2972.57,1532.23,17333.09,9174.88,1382.83,5.01,1
2,Jakarta,Indonesia,2.54,22.25,3.50,2.02,3.18,2.19,0.59,0.27,...,80.32,482.85,270.15,1117.69,584.37,2694.05,1269.44,483.19,9.15,1
3,Manila,Philippines,3.54,27.40,3.54,1.24,1.90,2.91,0.93,0.51,...,61.82,559.52,281.78,1754.40,684.81,3536.04,2596.44,419.02,7.80,1
4,Seoul,South Korea,7.16,52.77,6.03,3.02,4.52,3.86,1.46,0.78,...,108.30,809.83,583.60,2621.05,1683.74,21847.94,10832.90,2672.23,3.47,1

In [20]:
columns = ['x1','x2','x3','x4','x5','x6','x7','x8']

res=df[columns]

In [21]:
res.corr()

,x1,x2,x3,x4,x5,x6,x7,x8
x1,1.000000,0.883617,0.805376,0.741190,0.680535,0.678874,0.832802,0.777507
x2,0.883617,1.000000,0.821346,0.784505,0.721991,0.715286,0.831405,0.794958
x3,0.805376,0.821346,1.000000,0.733879,0.659302,0.644946,0.814937,0.795746
x4,0.741190,0.784505,0.733879,1.000000,0.876214,0.705590,0.732091,0.696133
x5,0.680535,0.721991,0.659302,0.876214,1.000000,0.752364,0.626697,0.571967
x6,0.678874,0.715286,0.644946,0.705590,0.752364,1.000000,0.608954,0.623624
x7,0.832802,0.831405,0.814937,0.732091,0.626697,0.608954,1.000000,0.892517
x8,0.777507,0.794958,0.795746,0.696133,0.571967,0.623624,0.892517,1.000000

#### 레스토랑 관련 카테고리로만 예측률 확인하기

In [22]:
import Module.default as dft

In [23]:
data = res[res.columns.difference(['x1'])].to_numpy()
target = res['x1'].to_numpy()
columns = res[res.columns.difference(['x1'])].columns

In [24]:
dft.importance(data,target,columns)

column 이름 : x2
x2 feature	importaces	- dt : 0.7784990782233664,	rf : 0.7414403043480359
x2 permutation	importaces	- dt : 0.7621927670138515,	rf : 0.6952926173328781
x2 별 차이			- dt : 0.016306311209514868,	rf : 0.04614768701515781
----------------------------------------------------------------------------------------------------
column 이름 : x3
x3 feature	importaces	- dt : 0.0432008777152277,	rf : 0.04166316506504715
x3 permutation	importaces	- dt : 0.23526387743897725,	rf : 0.07611563995578982
x3 별 차이			- dt : -0.19206299972374954,	rf : -0.03445247489074267
----------------------------------------------------------------------------------------------------
column 이름 : x4
x4 feature	importaces	- dt : 0.025481630631591284,	rf : 0.024081508692140822
x4 permutation	importaces	- dt : 0.19854408837727613,	rf : 0.047555093753690644
x4 별 차이			- dt : -0.17306245774568485,	rf : -0.023473585061549822
----------------------------------------------------------------------------------------------------
column 이름 : x5
x5 feature	importaces	- dt : 0.025782385720019164,	rf : 0.025837441567779132
x5 permutation	importaces	- dt : 0.14277531192177503,	rf : 0.05723414666298561
x5 별 차이			- dt : -0.11699292620175587,	rf : -0.03139670509520648
----------------------------------------------------------------------------------------------------
column 이름 : x6
x6 feature	importaces	- dt : 0.02759222130665736,	rf : 0.02970451047342619
x6 permutation	importaces	- dt : 0.1401805946023832,	rf : 0.046318209205785374
x6 별 차이			- dt : -0.11258837329572582,	rf : -0.016613698732359183
----------------------------------------------------------------------------------------------------
column 이름 : x7
x7 feature	importaces	- dt : 0.06152632412109477,	rf : 0.10604747309274874
x7 permutation	importaces	- dt : 0.3303973000845481,	rf : 0.17405673801718718
x7 별 차이			- dt : -0.26887097596345333,	rf : -0.06800926492443844
----------------------------------------------------------------------------------------------------
column 이름 : x8
x8 feature	importaces	- dt : 0.03791748228204324,	rf : 0.031225596760822018
x8 permutation	importaces	- dt : 0.2854905681929752,	rf : 0.06203139303319651
x8 별 차이			- dt : -0.24757308591093197,	rf : -0.030805796272374494
----------------------------------------------------------------------------------------------------

### 차이를 보았을 때 레스토랑 데이터는 점심 식사 맞추는데 큰 영향이 없어 보인다.